@model BusCompanyManagementApplication.Models.Buses.UpdateBusViewModel
@{
    ViewData["Title"] = "UpdateBus";
}

<h1>Update Bus</h1>

<form asp-action="UpdateBus" method="post">

    <input type="hidden" asp-for="BusId" />
    <div class="row">
        <div class="col-2">
            Bus Brand
        </div>
        <div class="col-10">

            <input class="form-control" type="text" asp-for="BusBrand" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            Total Seats
        </div>
        <div class="col-10">
            <input class="form-control" type="number" value="model.TotalSeats" asp-for="TotalSeats" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>