@model BusCompanyManagementApplication.Models.TripModel.BusInfoViewModel
@{
        ViewData["Title"] = "BusInfo";
}

    <h1>Bus Info</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("BusBrand")
                </th>
                <th>
                    @Html.DisplayName("TotalSeats")
                </th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @Model.BusBrand
                    </td>
                    <td>
                        @Model.TotalSeats
                    </td>

                </tr>
            }
        </tbody>
    </table>