@model BusCompanyManagementApplication.Models.TripModel.UpdateTripViewModel
@{
    ViewData["Title"] = "UpdateTrip";
}

<h1>Update Trip</h1>

<form asp-action="UpdateTrip" method="post">

    <input type="hidden" asp-for="TripId" />
    
    <a asp-action="Index">Back</a>
    <div class="row">
        <div class="col-2">
            Arrival
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Arrival" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Destination
        </div>
        <div class="col-10">
            <textarea class="form-control"
                      asp-for="Destination">
    
            </textarea>
        </div>
    </div>
    <div class="row">
        <label for="ArrivalTime">ArrivalTime (date and time):</label>
        <input type="datetime-local" id="arrivaltime" name="arrivaltime">

    </div>
    <div class="row">
        <label for="DestinationTime">DestinationTime (date and time):</label>
        <input type="datetime-local" id="destinationtime" name="destinationtime">

    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
