@model BusCompanyManagementApplication.Models.AnnouncementModel.AddAnnouncementViewModel 
@{
    ViewData["Title"] = "AddAnnouncement";
}

<form asp-action="AddAnnouncement" method="post">

    <div class="row">
        <div class="col-2">
            Title
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Title " />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
            Content
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Content">
        </div>
    </div>
    <br />  
    
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
