@{
    ViewData["Title"] = "Privacy Policy";
}
    <h1 style="text-align: center">  Privacy Policy</h1>
<br />
      <p>
          <h3> What personal information do we collect from the people that visit our blog, website or app? </h3>
          When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, credit card information or other details so that we can provide our services to you.
          <br /><br />
          <h3> When do we collect information? </h3>
          We collect information from you when you register on our site, place an order, subscribe to a newsletter, fill out a form or enter information on our site.
          <br /><br />
          <h3> How do we use your information?</h3>
          We may use such information in the following ways:

          To personalize your experience on our site and to allow us to deliver the type of content and product offerings in which you are most interested.
          To improve our website in order to better serve you.
          To allow us to better service you in responding to your customer service requests.
          To administer a contest, promotion, survey or other site feature.          
          <br /><br />
          <h3>Do we use "cookies"?</h3>
          Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

          We use cookies to:

          Help remember and process the items in the shopping cart.
          Understand and save user's preferences for future visits.
          Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.
          

          If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.
          <br /><br />
          <h3>How can you opt out, remove or modify information you have provided to us?</h3>
          You can request to have your information removed by clicking on the Contact Us/Live Chat button on this or the home page.
          Please note that we may maintain information about an individual sales transaction in order to complete that transaction and for record keeping purposes.
          Disclosure Of Your Personal Information         
          We will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.
          <br />
          <br />
          <h3>Contacting Us</h3>
          If there are any questions regarding this privacy policy you may contact us..
      </p>
