@model BusCompanyManagement.ApplicationLogic.DataModel.PersonalTrip
@{
    ViewData["Title"] = "DeleteTripHistory";
}

<h1>Are you sure?</h1>
<br />
<link rel="stylesheet" href="~/css/Button.css">
<div>
    <form asp-action="DeleteTripHistory">
        <input type="hidden" asp-for="PersonalTripId" />
        <input type="submit" value="Delete" class="btnn success" /> |
        <a asp-action="Index"><input type="button" value="Back" class="btnn success" /></a>
    </form>
</div>

